body {
  margin: 60px;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-main a {
  text-decoration: none;
  color: #393c41;
}

.logo {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.links {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

.links a {
  margin-left: 2rem;
}

.hero {
  height: 300px;
  width: auto;
  margin: auto;
  margin-top: 150px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-direction: column;
}

.hero h2 {
  font-size: 2.5rem;
  color: #393c41;
}

.hero h5 {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: #6b6c6d;
  margin-top: 0;
}

.cool {
  color: #115cfa;
}
